body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(12, 125, 29);
}

.dropdown-content {
  text-align: right;
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(5, 118, 7);
  color: white;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.footer-text::before {
  content: "\00A9 "; /* Unicode for © symbol */
}

.search-box {
  background: var(--gray-color);
  position: relative;
}
.close-button {
  position: absolute;
  top: 20px;
  right: 120px;
  cursor: pointer;
  z-index: 9;
}
.search-box input.search-input {
  font-size: 1.3em;
  width: 70%;
  height: 30px;
  padding: 25px;
  border-radius: 80px;
  border-color: rgb(0 0 0 / 25%);
  background: transparent;
}
.search-box svg {
  width: 22px;
  height: 22px;
  color: var(--primary-color);
}
.search-box svg.search {
  margin-left: -50px;
}



.search-form input[type="search"].search-field {
border: none;
text-align: left;
background: #f1f1f1;
width: 20%;
border-radius: 50px;
padding: 16px;
}
.search-form input[type="search"].search-field::focus {
border-color: #af9aaa;
}
.search-form button {
position: absolute;
top: 6px;
right: 9px;
background: transparent;
border: none;
}