/* Default Light Mode */
:root {
  --primary-color: #2c974b;
  --primary-color-dark: #22753a;
  --background-light: #ffffff;
  --background-dark: #121212;
  --text-light: #333333;
  --text-dark: #f1f1f1;
  --shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Dark Mode */
body.dark-mode {
  --background-page: #121212;
  --background-section: #1e1e1e;
  --background-item: #2c2c2c;
  --color-title: #9be89d;
  --color-heading: #8cbf6e;
  --color-text: #f1f1f1;
  --color-border: #9be89d;
  --background-hover: #333333;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.take-quiz-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: var(--background-light);
  border-radius: 8px;
  box-shadow: var(--shadow-light);
  color: var(--text-light);
}

.take-quiz-container h1 {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.question-container {
  margin-bottom: 2rem;
}

.question-container h2 {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.answers-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.answer-label {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.answer-label:hover {
  background-color: #e6f7e9;
}

.answer-label input {
  margin-right: 1rem;
  
}

.take-quiz-container button {
  display: block;
  width: 100%;
  padding: 0.7rem 1.5rem;
  background-color: var(--primary-color);
  color: var(--background-light);
  border: none;
  border-radius: 4px;
  font-size: 1rem;
}

button:hover {
  background-color: var(--primary-color-dark);
}

.quiz-completed {
  text-align: center;
}

.quiz-completed h2 {
  color: var(--primary-color);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.quiz-completed p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
